lib_managed/
project/boot/
project/build/target/
target/
src_managed/
project/plugins/project/
.idea/
.classpath_nb
.classpath
.project
.settings
*~
.cache

# bloop and metals
.bloop
.bsp
project/metals.sbt
.metals

# vs code
.vscode
